In [31]:
import numpy as np
import pandas as pd
from jcopml.utils import save_model, load_model

import warnings
warnings.filterwarnings('ignore')

In [32]:
raw=pd.read_csv('updated_wilayah_pampat.csv', index_col=0)
raw.head()

,Tanggal,Kecamatan,pam,pat,elevasi,bulan,bulan_num,tahun,wilayah
0,2018-01-01,Kalideres,1154930,17945,5.352066,January,1,2018,Jakarta Barat
1,2018-01-01,Cengkareng,883655,13730,3.352066,January,1,2018,Jakarta Barat
2,2018-01-01,Tambora,128,2,4.352066,January,1,2018,Jakarta Barat
3,2018-01-01,Grogol Petamburan,373284,5800,4.352066,January,1,2018,Jakarta Barat
4,2018-01-01,Taman Sari,207430,3223,5.352066,January,1,2018,Jakarta Barat

In [33]:
raw.drop(columns=['Tanggal','bulan_num'],inplace=True)

In [34]:
df = raw[['tahun', 'bulan', 'wilayah', 'Kecamatan', 'pam', 'pat','elevasi']]
df.head()

   tahun    bulan        wilayah          Kecamatan      pam    pat   elevasi
0   2018  January  Jakarta Barat          Kalideres  1154930  17945  5.352066
1   2018  January  Jakarta Barat         Cengkareng   883655  13730  3.352066
2   2018  January  Jakarta Barat            Tambora      128      2  4.352066
3   2018  January  Jakarta Barat  Grogol Petamburan   373284   5800  4.352066
4   2018  January  Jakarta Barat         Taman Sari   207430   3223  5.352066

# Splitting Data

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X = df.drop(columns=['elevasi'])
y = df['elevasi']

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [38]:
X_train.columns

Index(['tahun', 'bulan', 'wilayah', 'Kecamatan', 'pam', 'pat'], dtype='object')

# Model

In [39]:
from sklearn.ensemble import RandomForestRegressor

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import r2_score

In [41]:
transform = ColumnTransformer([
    ("encode", OneHotEncoder(), ['bulan','wilayah','Kecamatan'])
], remainder = 'passthrough')

model = Pipeline([
    ("encode", transform),
    ("algo", RandomForestRegressor(max_depth=None, max_features='auto', min_samples_leaf= 1, min_samples_split= 18, n_estimators=150))
])

In [42]:
model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('encode',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('encode',
                                                  OneHotEncoder(categories='auto',
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                sparse=True),
                                                  ['bulan', 'wilayah',
                                                   'Kecamatan'])],
                                   verbose=False)),
                ('algo',
                 RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                       criterion='mse', max_depth=None,
                                       max_features='auto', max_leaf_nodes=None,
                                       max_samples=None,
                                       min_impurity_decrease=0.0,
                                       min_impurity_split=None,
                                       min_samples_leaf=1, min_samples_split=18,
                                       min_weight_fraction_leaf=0.0,
                                       n_estimators=150, n_jobs=None,
                                       oob_score=False, random_state=None,
                                       verbose=0, warm_start=False))],
         verbose=False)

In [43]:
pred = model.predict(X_test)

In [44]:
from sklearn.metrics import r2_score

r2_score(y_test, pred)

0.9992440809930954

In [45]:
save_model(model, 'prediction_jakut')

Model is pickled as model/prediction_jakut